{% extends 'base.html.twig' %}

{% block title %}{{ site_name }} : A propos{% endblock %}

{% block body %}

<main id="main">

    <!-- ======= Blog Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>A propos</h2>

                <ol>
                    <li><a href="{{ path('home') }}">Accueil</a></li>
                    <li>A propos</li>
                </ol>
            </div>

        </div>
    </section><!-- End Blog Section -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">

            <div class="row d-flex justify-content-center mb-5">
                <div class="col">
                    <h2>A propos</h2>
                    <img src="{{ asset('img/about.jpg') }}" class="img-fluid mb-4" alt="A propos">
                    <p>
                        <i class="bi bi-check2-circle text-primary"></i> Pour info, la plupart de mes services tournent sur des serveurs <a href="https://www.hetzner.com/" target="_blank">Hetzner</a>.
                    </p>
                    <p>
                        <i class="bi bi-check2-circle text-primary"></i> Né quatre mois jour pour jour avant la mort du général De Gaule, 
                        dans le giennois (45). Nivernais d'adoption, j'habite Nevers. Marié depuis 1995 et père de trois enfants.<br>
                        Je suis amateur de rugby et je supporte évidemment l'équipe de Nevers USON (Pro D2).<br>
                        Je supporte également Toulon (RCT) en Top14 (région où habite la famille de ma femme).
                    </p>
                    <p>
                        <i class="bi bi-check2-circle text-primary"></i> Passionné par l'informatique et tout particulièrement par l'univers du Libre et de Gnu/Linux que j'utilise depuis 
                        fin 1999 (Mandrake 6.0 puis Debian 2.2), j'utilise aujourd'hui Arch Linux, Xubuntu, Debian et Ubuntu Server (Serveurs).
                        <br>
                        J'ai également "fricoté" avec FreeBSD et OpenBSD...
                    </p>
                    <p>
                        <i class="bi bi-check2-circle text-primary"></i> Je travaille dans le social depuis plus de 25 ans (Directeur de centre social, de CCAS, ...).
                    </p>
                    <p>
                        <i class="bi bi-check2-circle text-primary"></i> J'ai longtemps porté le pseudo de mumbly (ou mumbly58). L'âge aidant, 
                            je me "recycle" et ai pris le pseudo de CitizenZ (en référence à la série TV "ZNation").
                    </p>
                    <p>
                        <i class="bi bi-check2-circle text-primary"></i> citizenz.info est mon blog principal consacré au monde du Libre en général, à Gnu/Linux, à
                        l'admin réseau et aux trouvailles et coups de cœur du Net...
                    </p>
                    <p>
                        <i class="bi bi-check2-circle text-primary"></i> En 2006, j'ai créé <span style="text-decoration: line-through;">freetorrent.fr</span> (tracker bittorrent exclusivement 
                            réservé aux médias sous licence libre et licence de libre diffusion). (Fermé en juillet 2019)
                        <br>
                        <i class="bi bi-check2-circle text-primary"></i> [septembre 2019] Ouverture d'un nouveau site <span style="text-decoration: line-through;">ft4a.fr</span> 
                        qui reprend le code légèrement amélioré de feu freetorrent.fr ! ... (Fermé en mai 2021)
                    </p>
                    <p>
                        <i class="bi bi-check2-circle text-primary"></i> Je suis aussi le fondateur et le créateur de la 
                            cryptomonnaie <a href="https://www.pengolincoin.xyz" target="_blank">PengolinCoin</a>
                    </p>
                    <div class="text-center mt-5">
                        <a href="https://www.pengolincoin.xyz/" target="_blank">
                            <img src="{{ asset('img/PGO_500x500.png') }}" alt="PengolinCoin" class="img-fluid mt-2" style="max-width: 250px; width: 100%;">
                        </a>
                        <br>
                        PengolinCoin [PGO]
                        <br>
                        <a href="https://www.pengolincoin.xyz" target="_blank">https://www.pengolincoin.xyz</a>
                    </div>
                </div>
                {% block sidebar %}
                    {{ sidebar() }}
                {% endblock %}
            </div>
        </div>
    </section><!-- End About Section -->

</main><!-- End #main -->


{% endblock %}