{% extends 'base.html.twig' %}

{% block title %}{{ site_name }} : réinitialisez votre mot de passe{% endblock %}

{% block body %}
<main id="main">

    <!-- ======= Blog Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Réinitialisez votre mot de passe</h2>

                <ol>
                    <li><a href="{{ path('home') }}">Accueil</a></li>
                    <li>Réinitialisez votre mot de passe</li>
                </ol>
            </div>

        </div>
    </section><!-- End Blog Section -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">

            <div class="row d-flex justify-content-center mb-5">
                <div class="col">
                    {% for flashError in app.flashes('reset_password_error') %}
                    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                    {% endfor %}
                    <h2>Réinitialisez votre mot de passe</h2>

                    {{ form_start(requestForm) }}
                    {{ form_row(requestForm.email) }}
                    <div class="my-3">
                        <small>
                            Entrez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe.
                        </small>
                    </div>

                    <button class="btn btn-primary">Envoyer un e-mail de réinitialisation de mot de passe</button>
                    {{ form_end(requestForm) }}
                </div>
                {% block sidebar %}
                    {{ sidebar() }}
                {% endblock %}
            </div>
        </div>
    </section>
</main>
{% endblock %}