{% extends 'base.html.twig' %}

{% block title %}{{ site_name }} : réinitialisez votre mot de passe{% endblock %}

{% block body %}
<main id="main">

    <!-- ======= Blog Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Réinitialisez votre mot de passe</h2>

                <ol>
                    <li><a href="{{ path('home') }}">Accueil</a></li>
                    <li>Réinitialisez votre mot de passe</li>
                </ol>
            </div>

        </div>
    </section><!-- End Blog Section -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">

            <div class="row d-flex justify-content-center mb-5">
                <div class="col">
                    <h2>Réinitialisez votre mot de passe</h2>

                    {{ form_start(resetForm) }}
                    {{ form_row(resetForm.plainPassword) }}
                    <button class="btn btn-primary">Réinitialisez votre mot de passe</button>
                    {{ form_end(resetForm) }}
                </div>
                {% block sidebar %}
                    {{ sidebar() }}
                {% endblock %}
            </div>
        </div>
    </section>
</main>
{% endblock %}