{% extends 'base.html.twig' %}

{% block title %}{{ site_name }} : modifier le commentaire{% endblock %}

{% block body %}
<main id="main">

    <!-- ======= Blog Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Commentaire</h2>

                <ol>
                    <li><a href="{{ path('home') }}">Accueil</a></li>
                    <li><a href="{{ path('admin') }}">Admin</a></li>
                    <li><a href="{{ path('comment_admin_index') }}">Commentaires</a></li>
                    <li>Liste des commentaire</li>
                </ol>
            </div>

        </div>
    </section><!-- End Blog Section -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">

            <div class="row d-flex justify-content-center mb-5">
                <div class="col">
                    <h2>Modifier le commentaire</h2>

                    {{ include('comment/_form.html.twig', {'button_label': 'Update'}) }}

                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}