{% extends 'base.html.twig' %}

{% block title %}{{ site_name }} : liste des tags{% endblock %}

{% block body %}
<main id="main">

    <!-- ======= Blog Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Tag</h2>

                <ol>
                    <li><a href="{{ path('home') }}">Accueil</a></li>
                    <li><a href="{{ path('admin') }}">Admin</a></li>
                    <li>Liste des tags</li>
                </ol>
            </div>

        </div>
    </section><!-- End Blog Section -->

   <!-- ======= Blog Section ======= -->
   <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

        <div class="row py-5">

            {% for message in app.flashes('edited') %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}

            {% for message in app.flashes('deleted') %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}

            {% for message in app.flashes('success') %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}


            <div class="col mb-4">
                <h2>Liste des tags</h2>

                <table class="table mb-5">
                    <thead>
                        <tr>
                            <th width="4%">{{ knp_pagination_sortable(tags, 'Id', 'p.id') }}</th>
                            <th>{{ knp_pagination_sortable(tags, 'Titre', 'p.title') }}</th>
                            <th>Slug</th>
                            <th width="11%"></th>
                            <th width="4%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tag in tags %}
                        <tr>
                            <td>{{ tag.id }}</td>
                            <td>{{ tag.title }}</td>
                            <td>{{ tag.slug }}</td>
                            <td>
                                <a class="btn btn-sm btn-info" href="{{ path('tag_show', {'slug': tag.slug}) }}">voir</a>
                                <a class="btn btn-sm btn-warning" href="{{ path('tag_edit', {'id': tag.id}) }}">modifier</a>
                            </td>
                            <td>
                                {{ include('tag/_delete_form.html.twig') }}
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="4">Il n'y a aucun enregistrement.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <a class="btn btn-success" href="{{ path('tag_new') }}">Créer un nouveau tag</a>

            </div>
            <div class="pagination justify-content-center px-2 mt-4">
                {{ knp_pagination_render(tags) }}
            </div>
        </div>
    </div>
</section>

</main>
{% endblock %}